<a href="https://colab.research.google.com/github/Grey-matter2020/Machine-Learning/blob/main/Notebook/Python/Python_Basics_for_getting_started_as_a_Data_Analyst.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Keywords

Keywords are the reserved words in python

We can't use a keyword as variable name, function name or any other identifier

Keywords are case sentive

In [ ]:
!python --version

Python 3.8.10

In [ ]:
#Get all keywords in python 3.8.10

import keyword

print(keyword.kwlist)

print("Total number of keywords ", len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
Total number of keywords  35

# Identifers

Identifier is the name given to entities like class, functions, variables etc. in Python. It helps differentiating one entity from another.

Rules for Writing Identifiers:

1. Identifiers can be a combination of letters in lowercase (a to z) or uppercase (A to Z) or digits (0 to 9) or an underscore (_).

2. An identifier cannot start with a digit. 1variable is invalid, but variable1 is perfectly fine.

3. Keywords cannot be used as identifiers.

4. We cannot use special symbols like !, @, #, $, % etc. in our identifier.

In [ ]:
assert = 1

SyntaxError: ignored

In [ ]:
variable1 = 1

In [ ]:
print (variable1)

1

# Variables

1. A variable is a location in memory used to store some data.

2. They are given unique names to differentiate between different memory locations. 

3. The rules for writing a variable name is same as the rules for writing identifiers in Python.

4. We don't need to declare a variable before using it. In Python, we simply assign a value to a variable and it will exist. We don't even have to declare the type of the variable. This is handled internally according to the type of value we assign to the variable.

# Variable Assignments

In [ ]:
#We use the assignment operator (=) to assign values to a variable

a = 50
b = 3.5
c = "Artificial Intelligence 134"

print(a)
print(b)
print(c)

50
3.5
Artificial Intelligence 134

In [ ]:
# Multiple Assignments
a,b,c = 40, 4.5 ,"Artificial Intelligence"

print(a)
print(b)
print(c)

40
4.5
Artificial Intelligence

In [ ]:
#Same value to multiple variables
a= b = c = "Artificial Intelligence"

print(a)
print(b)
print(c)

Artificial Intelligence
Artificial Intelligence
Artificial Intelligence

# Storage Locations

In [ ]:
 a= 3

 print(id(a))

9793152

In [ ]:
a = 10
print(id(a))

9793376

In [ ]:
b =10
print(id(b))

9793376

In [ ]:
b = 3
print(id(b))

9793152

# Data Types

In [ ]:
a = 15                               
print(a, " is of type", type(a))

15  is of type <class 'int'>

In [ ]:
a = 2.55                       
print(a, " is of type", type(a))

2.55  is of type <class 'float'>

# Boolean

In [ ]:
a = True    
b = False                      
print(type(a))         
print(type(b))

<class 'bool'>
<class 'bool'>

# Python Strings

In [ ]:
s = "This is a Python Course"
print(s)
print(type(s))

This is a Python Course
<class 'str'>

In [ ]:
print (s[0])

T

In [ ]:
print (s[-1])

e

In [ ]:
len(s)

23

# List

In [ ]:
list1 = [1,2,3]               # List is ordered sequence 
print(list1)                  
print(type(list1))

[1, 2, 3]
<class 'list'>

In [ ]:
list1[0]

1

In [ ]:
list1[3]

IndexError: ignored

In [ ]:
list1[2] = "Hello"                    # List is Mutable

In [ ]:
list1

[1, 2, 'Hello']

In [ ]:
list1.append(6)

In [ ]:
list1

[1, 2, 'Hello', 6]

# Tuple

In [ ]:
tuple1 = (1, 1.5, "Hello") # Tuple is an ordered
print(tuple1)
print(type(tuple1))

(1, 1.5, 'Hello')
<class 'tuple'>

In [ ]:
tuple1[0]

1

In [ ]:
tuple1[1] = 2.5            # Tuple is Immutable

TypeError: ignored

In [ ]:
tuple1[4] = "Python"

TypeError: ignored

In [ ]:
tuple2 = tuple1 + (5,"Hi") # Results in a new tuple as the original tuple is Immutable
print(tuple2)

(1, 1.5, 'Hello', 5, 'Hi')

In [ ]:
print(tuple1)

(1, 1.5, 'Hello')

# Set

In [ ]:
set1 = {10,20,30}                               # Unordered set
print(set1)
print(type(set1))

{10, 20, 30}
<class 'set'>

In [ ]:
set1[0]

TypeError: ignored

In [ ]:
set1 = {10,10,20,30}

In [ ]:
set1

{10, 20, 30}

In [ ]:
set1.add(60)                      # Mutable # Observe the difference between append and add

In [ ]:
set1

{10, 20, 30, 60}

# Dictionary

In [ ]:
dict1 = {'a': 1, 'b': 2 , 'c': "Hello"}            #Unordered key value pair
print(dict1)
print(type(dict1))

{'a': 1, 'b': 2, 'c': 'Hello'}
<class 'dict'>

In [ ]:
dict1['c']

'Hello'

In [ ]:
dict1[2]

KeyError: ignored

In [ ]:
dict1['d'] = "Python"                     # it is mutable

In [ ]:
dict1

{'a': 1, 'b': 2, 'c': 'Hello', 'd': 'Python'}

# Conversion between Data Types

1. Float, int,set, dict etc are called data types

2. They should never be used as variable names

3. Python doesnt give an error if you use them as variable names so one should be cautious

4. Once you use a data type as a variable then you will not be able to use it as a datatype again

In [ ]:
# int to float

a = 5
print(a)
print(float(a))

5
5.0

In [ ]:
# float to int

a= 5.5
print(a)
print(int(a))

5.5
5

In [ ]:
# float to int

a= 5.999999999999
print(a)
print(int(a))

5.999999999999
5

In [ ]:
# int/float to string
a = 20
print(a)
print(str(a))
str(a)

20
20

'20'

In [ ]:
# int/float to string
a = 20.5
print(a)
print(str(a))
str(a)

20.5
20.5

'20.5'

In [ ]:
# string to int
a = '20'
b = int(a)
print(b)
print(type(b))

20
<class 'int'>

In [ ]:
#string to float
a = '20.5'
b = float(a)
print(b)
print(type(b))

20.5
<class 'float'>

In [ ]:
#string to int
a = '20.5'
b = int(a)
print(b)
print(type(b))

ValueError: ignored

In [ ]:
#string to int
a = '20.5'
b = int(float(a))
print(b)
print(type(b))

20
<class 'int'>

In [ ]:
#list to set 
#list to tuple
#set to list
#set to tuple
#tuple to list
#tuple to set

In [ ]:
#list to set           Ordered Mutable to Unordered Mutable

list1 = [1,2,3,4]
print(set(list1))
print(type(set(list1)))

{1, 2, 3, 4}
<class 'set'>

In [ ]:
#list to tuple        Ordered Mutable to Ordered Immutable 
list1 = [1,2,3,4]
tuple(list1)

(1, 2, 3, 4)

In [ ]:
#set to list          Unordered Mutable to Ordered Mutable

set1 = {1,2,3,4,4,5}
print(set1)
list1 = list(set1)
print(list1)            # Be aware that you might see an order here but this might not happen always

{1, 2, 3, 4, 5}
[1, 2, 3, 4, 5]

In [ ]:
#set to tuple      Unordered Mutable to Ordered Immutable

set1 = {1,2,3,4,4,5}
print(set1)
tuple1 = tuple(set1)
print(tuple1)

{1, 2, 3, 4, 5}
(1, 2, 3, 4, 5)

In [ ]:
#tuple to list            Ordered Immutable to Ordered Mutable

tuple1 = (1,2,3,4,5)
print(tuple1)
list1 = list(tuple1)
print(list1)

(1, 2, 3, 4, 5)
[1, 2, 3, 4, 5]

In [ ]:
#tuple to set        Ordered Immutable to Unordered Mutable

tuple1 = (1,2,3,4,5)
print(tuple1)
set1 = set(tuple1)
print(set1)

(1, 2, 3, 4, 5)
{1, 2, 3, 4, 5}

# Python Comments

In [ ]:
# This is a single line comment

In [ ]:
# This is a 
# multiline 
# comment

In [ ]:
'''This is a single line comment'''

'This is a single line comment'

In [ ]:
'''This is a multiline
comment'''

'This is a multiline\ncomment'

# Python Statements

In [ ]:
a = 5

In [ ]:
a = 5+6+7+\                                                                                
8+10
print(a)

36

# Python Output

We use the print() function to output data to the standard output device

In [ ]:
a = 5
print(a)

5

In [ ]:
a = "Hello World"
print(a)

Hello World

In [ ]:
a = 5
print ("The value of variable a is :", a)

The value of variable a is : 5

In [ ]:
a= 5; b =10
print ("The value of a is {} and value of b is {}".format(a,b))

The value of a is 5 and value of b is 10

In [ ]:
a= 5; b =10
print ("The value of a is {0} and value of b is {1}".format(a,b))

The value of a is 5 and value of b is 10

In [ ]:
a= 5; b =10
print ("The value of b is {1} and value of a is {0}".format(a,b))

The value of b is 10 and value of a is 5

In [ ]:

print ("The value of a is {a} and value of b is {b}".format(a=10,b=20))

The value of a is 10 and value of b is 20

# Operators

## Arithmetic Operators

In [ ]:
x, y = 10, 20

#addition
print(x + y)

#subtraction(-)
print (x-y)

#multiplication(*)
print(x*y)

x,y = 10,21
#division(/)
print(y/x)

#modulos division (%)                 # it returns the remainder
print(y%x)

#Floor Division (//)
print(y//x)

#Exponent (**)
print (2**3)

30
-10
200
2.1
1
2
8

## Comparision Operators

In [ ]:
a, b = 10, 20         

print(a < b)  #check a is less than b

#check a is greater than b
print(a>b)

#check a is equal to b      =(assignment) and ==(comparision)
print(a==b)

#check a is not equal to b (!=)
print(a!=b)

#check a greater than or equal to b
print(a>=b)

#check a less than or equal to b
print(a<=b)

True
False
False
True
False
True

## Logical Operators

In [ ]:
a, b = True, False

#print a and b
print(a and b)

#print a or b
print (a or b)

#print not b
print (not b)

#Bitwise AND
print(a & b)

#Bitwise OR
print(a | b)

#Bitwise NOT
#read about bitwise NOT

False
True
True
False
True

## Assignment Operators

In [ ]:
a = 10

a = a+10
a += 10         #add AND
print(a) 

#subtract AND (-=)
a-=10
print(a)

#Multiply AND (*=)
a *=2
print(a)

#Divide AND (/=)
a /=2
print(a)

#Modulus AND (%=)
a%=3
print(a)


#Floor Division (//=)
a//=3
print(a)

#Exponent AND (**=)
a**=2
print(a)

30
20
40
20.0
2.0
0.0
0.0

## Identity Operators

In [ ]:
a = 5
b = 5
print(a is b)    #5 is object created once both a and b points to same object

#check is not

True

In [ ]:
print(id(a))
print(id(b))

9793216
9793216

In [ ]:
l1 = [1, 2, 3]         #mutable
l2 = [1, 2, 3]
print(l1 is l2)

False

In [ ]:
print(id(l1))
print(id(l2))

140569772054272
140569772401216

In [ ]:
l1.append(4)
print(l1)
print(l2)

[1, 2, 3, 4]
[1, 2, 3]

## Membership Operator

In [ ]:
lst = [1, 2, 3, 4]
print(1 in lst)       #check 1 is present in a given list or not

#check 5 is present in a given list

True

In [ ]:
lst = [1, 2, 3, 4]
print(5 not in lst)       #check 1 is present in a given list or not

#check 5 is present in a given list

True

In [ ]:
lst = [1, 2, 3, 4]
print(5 in lst)       #check 1 is present in a given list or not

#check 5 is present in a given list

False

## For loop - To do a job repeatedly

In [ ]:
# print the first 10 integers
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
# print the table of 10 upto 100
lst = [1,2,3,4,5,6,7,8,9,10]
for i in lst: print(i*10)

10
20
30
40
50
60
70
80
90
100

In [ ]:
# print the first 10 integers
for i in range(100):
  print((i+1)*10)

10
20
30
40
50
60
70
80
90
100
110
120
130
140
150
160
170
180
190
200
210
220
230
240
250
260
270
280
290
300
310
320
330
340
350
360
370
380
390
400
410
420
430
440
450
460
470
480
490
500
510
520
530
540
550
560
570
580
590
600
610
620
630
640
650
660
670
680
690
700
710
720
730
740
750
760
770
780
790
800
810
820
830
840
850
860
870
880
890
900
910
920
930
940
950
960
970
980
990
1000

## While Loop

In [ ]:
i = 20
while i >0:
  print(i)
  i-=1

20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

## Conditional Statement If Then Else

In [ ]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
else: 
  if a == b:
    print("a and b are equal")
  else:
    print("a is greater than b")

a is greater than b

In [ ]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

## Functions

In [ ]:
# block of code which runs only when called

def function_name(parameters):                      # defining a function

    """
    Function Code
    """

    return(value)

In [ ]:
# example of a function that doesnt nothing
def dummy_function():
  "This function does nothing"

In [ ]:
dummy_function()                                    # calling the function

In [ ]:
# example of a function that doesnt nothing
def dummy_function():
  print("This function does nothing")

In [ ]:
dummy_function()

This function does nothing

In [ ]:
# example of a function that doesnt nothing
def dummy_function():
  return("This function does nothing")

In [ ]:
return_value = dummy_function()
print(return_value)

This function does nothing

In [ ]:
# example of a function that squares a no
def real_function(x):
  return(x**2)

In [ ]:
real_function(10)

100

In [ ]:
a= 100
# example of a function that sqaures a value
def real_function(x):
  print(x)
  print(a)
  return(x**2)

print(a)                      #global variable
real_function(10)
print(x)                      #local variable

100
10
100

NameError: ignored

## Build In Function

In [ ]:
# find the absolute value

num = -100

print(abs(num))

100

In [ ]:
numbers = [10, 20, 30, 40]

for index, num in enumerate(numbers):
    print("index {0} has value {1}".format(index, num))

index 0 has value 10
index 1 has value 20
index 2 has value 30
index 3 has value 40

In [ ]:
lst = [1, 2, 3, 4]
print(isinstance(lst, list))

#try with other datatypes tuple, set
t = (1,2,3,4)
print(isinstance(t, list))

True
False

In [ ]:
numbers = [1, 2, 3, 4]

def powerOfTwo(num):
    return num ** 2

#using map() function
squared = list(map(powerOfTwo, numbers))
print(squared)

[1, 4, 9, 16]

In [ ]:
list(map(powerOfTwo, numbers))

[1, 4, 9, 16]

In [ ]:
numbers = [1, 2, 3, 4]

def powerOfTwo(num):
    return num ** 2

squared = []
for i in numbers:
  squared.append(powerOfTwo(i))
print(squared)

[1, 4, 9, 16]

In [ ]:
#with reduce()
from functools import reduce # in Python 3.

def multiply(x,y):
    return x*y;

product = reduce(multiply, lst)
print(product)

24

## Modules

1. Modules refer to a file containing Python statements and definitions.

2. A file containing Python code, for e.g.: abc.py, is called a module and its module name would be "abc".

3. We use modules to break down large programs into small manageable and organized files. Furthermore, modules provide reusability of code.

4. We can define our most used functions,classes and variables in a module and import it, instead of copying their definitions into different programs.

In [ ]:
import math
print(math.pi)

3.141592653589793

In [ ]:
import datetime
datetime.datetime.now()

datetime.datetime(2023, 2, 27, 9, 21, 7, 272709)

In [ ]:
import math as m
print(m.pi)

3.141592653589793

In [ ]:
from datetime import datetime as dt
dt.now()

datetime.datetime(2023, 2, 27, 9, 23, 19, 126916)