<a href="https://colab.research.google.com/github/Grey-matter2020/Machine-Learning/blob/main/Notebook/Python/Python_Data_Structures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Structures

# List

1. List is one of the Sequence Data structure

2. Lists are collection of items (Strings, integers or even other lists)

3. Lists are enclosed in [ ]

4. Each item in the list has an assigned index value.

5. Each item in a list is separated by a comma

6. Lists are mutable, which means they can be changed.

## List Creation

In [ ]:
emptyList = []

lst = ['one', 'two', 'three', 'four'] # list of strings

lst2 = [1, 2, 3, 4] #list of integers

lst3 = [[1, 2], [3, 4]] # list of lists

lst4 = [1, 'ramu', 24, 1.24] # list of different datatypes

print(lst4)

[1, 'ramu', 24, 1.24]

## List Length

In [ ]:
lst1 = [1,2,3,4,5,6,7,8,9,0]
print (len(lst1))

10

## List Append

In [ ]:
lst1.append(11)                                    # adds at the end of the list
lst1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 11]

In [ ]:
lst2 = [12,13,14]
lst1.append(lst2)
lst1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 11, [12, 13, 14]]

In [ ]:
lst1[11][0]

12

## List Insert

In [ ]:
lst1.insert(0,0)
lst1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 11, [12, 13, 14]]

In [ ]:
lst1.insert(5,55)
lst1

[0, 1, 2, 3, 4, 55, 5, 6, 7, 8, 9, 0, 11, [12, 13, 14]]

In [ ]:
lst1[5]

55

## List Remove

In [ ]:
lst1.remove(0)               # Removes only the first instance
lst1

[1, 2, 3, 4, 55, 5, 6, 7, 8, 9, 0, 11, [12, 13, 14]]

# List Extend

In [ ]:
lst3 =[15,16,17]
lst1.extend(lst3)
lst1

[1, 2, 3, 4, 55, 5, 6, 7, 8, 9, 0, 11, [12, 13, 14], 15, 16, 17]

## List Delete

In [ ]:
lst1

[1, 2, 3, 4, 55, 5, 6, 7, 8, 9, 0, 11, [12, 13, 14], 15, 16, 17]

In [ ]:
x = lst1[11]
del lst1[11]                             # based on index
print(lst1)    
print(x)                                 # returns list

[1, 2, 3, 4, 55, 5, 6, 7, 8, 9, 0, [12, 13, 14], 15, 16, 17]
11

In [ ]:
lst1.pop(13)                             # based on index            # returns popped element

17

In [ ]:
del lst1[12]                             # returns nothing as the original list is amended

In [ ]:
print(lst1)                              # removes by value and only the first occurence of the value
lst1.remove (9)
print(lst1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 11, 15]
[1, 2, 3, 4, 5, 6, 7, 8, 0, 11, 15]

In [ ]:
lst1.append(6)
print(lst1)
lst1.remove(6)
print(lst1)

[1, 2, 3, 4, 55, 5, 6, 7, 8, 9, 0, [12, 13, 14], 15, 16, 17, 6, 6]
[1, 2, 3, 4, 55, 5, 7, 8, 9, 0, [12, 13, 14], 15, 16, 17, 6, 6]

In [ ]:
print(lst1)
lst1.pop()

[1, 2, 3, 4, 5, 6, 7, 8, 0, 11, 15]

15

## List Reverse

In [ ]:
print(lst1)                                 # original list is reversed
lst1.reverse()
print(lst1)

[1, 2, 3, 4, 5, 6, 7, 8, 0, 11]
[11, 0, 8, 7, 6, 5, 4, 3, 2, 1]

## IN and NOT IN commands

In [ ]:
print(lst1)                     # works very much SQL
if 2 in lst1:
  print ("2 found in the list")

if 23 not in lst1:
  print("23 not found in the list")

[11, 0, 8, 7, 6, 5, 4, 3, 2, 1]
2 found in the list
23 not found in the list

## List Sorting

In [ ]:
print(lst1)
sorted_ list = sorted(lst1)                               # returns a new list
print(sorted_list)
reverse_sorted_list = sorted(lst1, reverse = True)
print(reverse_sorted_list)

[11, 0, 8, 7, 6, 5, 4, 3, 2, 1]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 11]
[11, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [ ]:
print(lst1)
print(id(lst1))
lst1.sort()                               # reverses the list and stores in the same variable and address
print(lst1)
print(id(lst1))                           # list is mutable

[11, 0, 8, 7, 6, 5, 4, 3, 2, 1]
140529049123008
[0, 1, 2, 3, 4, 5, 6, 7, 8, 11]
140529049123008

In [ ]:
lst = ['today','is','a','beautiful','day']
lst.sort()
print(lst)

['a', 'beautiful', 'day', 'is', 'today']

In [ ]:
lst = [1, 20, 'b', 5, 'a']
print(lst.sort()) # sort list with element of different datatypes.

TypeError: ignored

## String split to create list

In [ ]:
s = "flower"
s.split()                                # default split is basis space

['flower']

In [ ]:
s = "This is a beautiful flower"
s.split()

['This', 'is', 'a', 'beautiful', 'flower']

In [ ]:
s = "1,2,3,4,5"
s.split(",")

['1', '2', '3', '4', '5']

## List having multiple references : Beware

In [ ]:
lst = [1, 2, 3, 4, 5]
abc = lst
abc.append(6)

#print original list
print("Original list: ", lst)

Original list:  [1, 2, 3, 4, 5, 6]

## List Indexing

In [ ]:
print(lst1)
print(lst1[0])                            # 1st element
print(lst1[4])                             # 5th element 
print(lst1[-1])                            # last element

[0, 1, 2, 3, 4, 5, 6, 7, 8, 11]
0
4
11

## List Slicing

In [ ]:
lst1 = [0, 1, 2, 3, 4, 5, 6, 7, 8, 11]
print(lst1)
print(lst1[0:])                        # first element to last element
print(lst1[:])                         # first element to last elememt
print(lst1[::2])                       # alternate element starting from first element
print(lst1[2::3])                      # every 3rd element starting from 3rd element
print(lst1[0:4])                       # first 4 elements
print(lst1[::-1])                      # reverse
print(lst1[-5::])                      # start from -5th element upto last element
print(lst1[-5::-1])                    # start from -5th element upto the first element 
print(lst1[-5:-7:-1])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 11]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 11]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 11]
[0, 2, 4, 6, 8]
[2, 5, 8]
[0, 1, 2, 3]
[11, 8, 7, 6, 5, 4, 3, 2, 1, 0]
[5, 6, 7, 8, 11]
[5, 4, 3, 2, 1, 0]
[5, 4]

## List Concatenation

In [ ]:
lst1= [1,2,3,4]
lst2=[5,6,7,8]
lst1.extend(lst2)
print(lst1)                          # updates the first list

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
lst1= [1,2,3,4]
lst2=[5,6,7,8]
lst1+lst2                            # returns a new list

[1, 2, 3, 4, 5, 6, 7, 8]

## List Count

In [ ]:
numbers = [1, 2, 3, 1, 3, 4, 2, 5]

#frequency of 1 in a list
print(numbers.count(1))

#frequency of 3 in a list
print(numbers.count(3))

2
2

## List Looping

In [ ]:
lst = ['one', 'two', 'three', 'four']

for ele in lst:
    print(ele)

one
two
three
four

## List Comprehension

In [ ]:
# without list comprehension
squares = []
for i in range(10):
    squares.append(i**2)   #list append
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
#using list comprehension
squares = [i**2 for i in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
#example

lst = [-10, -20, 10, 20, 50]

#create a new list with values doubled
new_lst = [i*2 for i in lst]
print(new_lst)

#filter the list to exclude negative numbers
new_lst = [i for i in lst if i >= 0]
print(new_lst)


#square positive nos and cube negative
new_lst = [i**2 if i >= 0 else i**3 for i in lst]
print(new_lst)


#create a list of tuples like (number, square_of_number)
new_lst = [(i, i**2) for i in range(10)]
print(new_lst)

# In general,

# [f(x) for x in sequence]
# [f(x) for x in sequence if condition]
# [f(x) if condition else g(x) for x in sequence]

[-20, -40, 20, 40, 100]
[10, 20, 50]
[-1000, -8000, 100, 400, 2500]
[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81)]

# Tuple

-> Ordered just like List
-> Immutable unlike List

## Tuple Creation

In [ ]:
#empty tuple
t = ()


#tuple having integers                   # We need to put a comma else it will not be a tuple t = (1,)
t = (1)     
print(t)


#tuple having integers
t = (1, 2, 3)
print(t)

#tuple with mixed datatypes
t = (1, 'rajat', 38, 'abcd')
print(t)

#nested tuple
t = (1, (2, 3, 4), [1, 'rajat', 38, 'abcd'])
print(t)

1
(1, 2, 3)
(1, 'rajat', 38, 'abcd')
(1, (2, 3, 4), [1, 'rajat', 38, 'abcd'])

In [ ]:
t = tuple()
print(type(t))

<class 'tuple'>

## Accessing elements of a tuple

In [ ]:
#nested tuple
t = (1, (2, 3, 4), [1, 'rajat', 38, 'abcd'])
print(t)

(1, (2, 3, 4), [1, 'rajat', 38, 'abcd'])

In [ ]:
print(t[0])        # first element
print(t[-1])       # last element
print(t[1][2])     # third element of the second element
print(t[:])        # all elemets
print(t[::2])      # all alternate elemts

1
[1, 'rajat', 38, 'abcd']
4
(1, (2, 3, 4), [1, 'rajat', 38, 'abcd'])
(1, [1, 'rajat', 38, 'abcd'])

In [ ]:
#unlike lists, tuples are immutable
#This means that elements of a tuple cannot be changed once it has been assigned. 
# But, if the element is itself a mutable datatype like list, its nested items can be changed.

In [ ]:
t[0] =5

TypeError: ignored

In [ ]:
t[2][0]=500

In [ ]:
t

(1, (2, 3, 4), [500, 'rajat', 38, 'abcd'])

## Concatenating Tuple

In [ ]:
t1= (1,2,3)
t2= (4,5,6)

t = t1 + t2             # works like extend in List
print(t)

(1, 2, 3, 4, 5, 6)

## Tuple Deletion

In [ ]:
#we cannot change the elements in a tuple. 
# That also means we cannot delete or remove items from a tuple.

#delete entire tuple using del keyword
t = (1, 2, 3, 4, 5, 6)

#delete entire tuple
del t

In [ ]:
lst1=[1,2,3]
del lst1[0]
lst1

[2, 3]

In [ ]:
lst1=[1,2,3]
del lst1
lst1

NameError: ignored

## Tuple Count

In [ ]:
t = (1, 2, 3, 1, 3, 3, 4, 1)

#get the frequency of particular element appears in a tuple
t.count(3)

3

## Tuple Index

In [ ]:
t = (1, 2, 3, 1, 3, 3, 4, 1)

print(t.index(3)) #return index of the first occurance of 3

2

In [ ]:
t = [1, 2, 3, 1, 3, 3, 4, 1]

print(t.index(3)) #return index of the first occurance of 3

2

## Tuple Membership

In [ ]:
t = (1, 2, 3, 4, 5, 6)

if (1 in t):
  print ("1 is in the tuple")

if (7 not in t):
  print("7 is not in the tuple")

1 is in the tuple
7 is not in the tuple

## Tuple Build In Functions

## Tuple Length

In [ ]:
t = (1,2,3,45,6,7,8)
print(len(t))

7

## Tuple sort

In [ ]:
t =(1,5,9,4,6,3,7,11)
t_sorted = sorted(t)                        # returns a new tuple # works very much like List
print(t)
print(t_sorted)

(1, 5, 9, 4, 6, 3, 7, 11)
[1, 3, 4, 5, 6, 7, 9, 11]

In [ ]:
t.sort()                              # Unlike list, there is not sort() function for tuple     
print(t)

AttributeError: ignored

## Other Functions

In [ ]:
t =(1,5,9,4,6,3,7,11)
print(sum(t))
print(max(t))
print(min(t))

46
11
1

In [ ]:
t =[1,5,9,4,6,3,7,11]
print(sum(t))
print(max(t))
print(min(t))

46
11
1

# Sets
1. Unordered Collection
2. Mutable
3. Unique elements

## Set Creation

In [ ]:
#set of integers
s = {1, 2, 3}
print(s)

s = {}                              # results in creation of dictionary and not set
print(s)

s = set()
print(s)

{1, 2, 3}
{}
set()

In [ ]:
l = list()
print(type(l))

t = tuple()
print(type(t))

d = dict()
print(type(d))

<class 'list'>
<class 'tuple'>
<class 'dict'>

In [ ]:
s = set()
s.add(2)                                       
print(s)

{2}

In [ ]:
s = set()
s.add(2,2,3)                               # can add only 1 element at a time
print(s)

TypeError: ignored

In [ ]:
s = set()
s.update([2,2,3])                               # can add more than 1 element at a time
print(s)

{2, 3}

In [ ]:
s = set()
s.update({5,6})                               # can add more than 1 element at a time
print(s)

{5, 6}

In [ ]:
s = set()
s.update([2,2,3], {5,6})                               # can add more than 1 element at a time
print(s)

{2, 3, 5, 6}

In [ ]:
s= {1,2,2,3,3,4,4,5,5}                           # stores only unique elements
print(s)

{1, 2, 3, 4, 5}

## Remove element from a set

In [ ]:
s= {1,2,3,4,5,6}
s.remove(4)
print(s)
s.discard(5)
print(s)

{1, 2, 3, 5, 6}
{1, 2, 3, 6}

In [ ]:
s.discard(7)
print(s)
s.remove(7)
print(s)

{1, 2, 3, 6}

KeyError: ignored

In [ ]:
s= {1,2,3,4,5,6,7}
a= s.pop()
print(a)                 # pops out a random no 
print(s)                 # updates the set

1
{2, 3, 4, 5, 6, 7}

In [ ]:
s= [1,2,3,4,5,6,7]
a= s.pop()
print(a)                 # pops out a random no 
print(s)                 # updates the set

7
[1, 2, 3, 4, 5, 6]

## Set Operations

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

print(set1 | set2)
print(set1.union(set2))

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

print(set1 & set2)
print(set1.intersection(set2))

{3, 4, 5}
{3, 4, 5}

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

print(set1 - set2)
print(set1.difference(set2))                   # elements in set1 not present in set2

{1, 2}
{1, 2}

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

print(set1^set2)
print(set1.symmetric_difference(set2))                   # elements in set1 not present in set2 and vice versa

{1, 2, 6, 7}
{1, 2, 6, 7}

In [ ]:
#find issubset()
x = {"a","b","c","d","e"}
y = {"c","d"}

print("set 'x' is subset of 'y' ?", x.issubset(y)) #check x is subset of y

#check y is subset of x
print("set 'y' is subset of 'x' ?", y.issubset(x))

set 'x' is subset of 'y' ? False
set 'y' is subset of 'x' ? True

## Set Indexing

In [ ]:
s= {1,2,3,4,5,6,7}
print(s[0])                                 # Unordered hence cant be accessed via index

TypeError: ignored

## Frozen set 
1. Same as set but is immutable
2. We cant add or remove elemets from frozen sets
3. Rest all commands above can be applied As Is

In [ ]:
s = set({1,2,3})
print(s)

{1, 2, 3}

In [ ]:
s = frozenset({1,2,3})                                       
print(s)


s = frozenset([1,2,3])
print(s)

frozenset({1, 2, 3})
frozenset({1, 2, 3})

In [ ]:
s.add(2)

AttributeError: ignored

In [ ]:
s.update([2])

AttributeError: ignored

In [ ]:
s[0]                              # frozen set is also unordered hence doesnt support indexing

TypeError: ignored

In [ ]:
set1 = frozenset({1, 2, 3, 4, 5})  
set2 = frozenset({3, 4, 5, 6, 7})

print(set1 | set2)                                # resultant set is also frozen
print(set1 & set2)
print(set1-set2)
print(set1^set2)

frozenset({1, 2, 3, 4, 5, 6, 7})
frozenset({3, 4, 5})
frozenset({1, 2})
frozenset({1, 2, 6, 7})

## Dictionary

1. Dictionary is an unordered collection of items

2. It has a key and value pair

3. Value can be accessed via key

## Dict Creation

In [ ]:
#empty dictionary
my_dict = {}
print(type(my_dict))

#dictionary with integer keys
my_dict = {1: 'abc', 2: 'xyz'}
print(my_dict)

#dictionary with mixed keys
my_dict = {'name': 'satish', 1: ['abc', 'xyz']}
print(my_dict)


#create empty dictionary using dict()
my_dict = dict()

my_dict = dict([(1, 'abc'), (2, 'xyz')])    #create a dict with list of tuples
print(my_dict)

<class 'dict'>
{1: 'abc', 2: 'xyz'}
{'name': 'satish', 1: ['abc', 'xyz']}
{1: 'abc', 2: 'xyz'}

## Dict Access

In [ ]:
#dictionary with mixed keys
my_dict = {'name': 'satish', 1: ['abc', 'xyz']}
print(my_dict)

{'name': 'satish', 1: ['abc', 'xyz']}

In [ ]:
my_dict['name']

'satish'

In [ ]:
my_dict[1]

['abc', 'xyz']

In [ ]:
my_dict[1][0]

'abc'

In [ ]:
my_dict[2]

KeyError: ignored

In [ ]:
my_dict.get(1)                             # Another way of accessing data

['abc', 'xyz']

In [ ]:
my_dict.get(2)

In [ ]:
print(my_dict.get(2))                      # Very useful for exception handling

None

## Dict Add and Modify Elements

In [ ]:
my_dict

{'name': 'satish', 1: ['abc', 'xyz']}

In [ ]:
my_dict['name'] = 'Praveen'

In [ ]:
my_dict

{'name': 'Praveen', 1: ['abc', 'xyz']}

In [ ]:
my_dict['degree'] = 'MS'

In [ ]:
my_dict

{'name': 'Praveen', 1: ['abc', 'xyz'], 'degree': 'MS'}

## Dict Deletion and Remove Elements

In [ ]:
my_dict

{'name': 'Praveen', 1: ['abc', 'xyz'], 'degree': 'MS'}

In [ ]:
my_dict.pop('name')                       # delete one element

'Praveen'

In [ ]:
my_dict

{1: ['abc', 'xyz'], 'degree': 'MS'}

In [ ]:
del my_dict['degree']                     # Another way to delete one element

In [ ]:
my_dict

{1: ['abc', 'xyz']}

In [ ]:
my_dict.clear()                           # Remove all element and return an empty dictionary
my_dict

{}

In [ ]:
l = [1,2,3]
l.clear()
l

[]

In [ ]:
s=(1,2,3)
s.clear()
s

AttributeError: ignored

In [ ]:
s ={1,2,3}
s.clear()
s

set()

In [ ]:
del my_dict                               # Delete the dictionary object
my_dict

NameError: ignored

## Dict Methods

In [ ]:
#dictionary with mixed keys
my_dict = {'name': 'satish', 1: ['abc', 'xyz']}
print(my_dict)

{'name': 'satish', 1: ['abc', 'xyz']}

In [ ]:
my_dict.keys()                 # Returning all the keys

dict_keys(['name', 1])

In [ ]:
my_dict.values()               # Returning all the values

dict_values(['satish', ['abc', 'xyz']])

In [ ]:
my_dict.items()

dict_items([('name', 'satish'), (1, ['abc', 'xyz'])])

In [ ]:
type(my_dict.items())

dict_items

In [ ]:
for pair in my_dict:
  print(pair)

name
1

In [ ]:
for pair in my_dict.keys():
  print (pair)

name
1

In [ ]:
for pair in my_dict.values():
  print(pair)

satish
['abc', 'xyz']

In [ ]:
for pair in my_dict.items():
  print(pair)

('name', 'satish')
(1, ['abc', 'xyz'])

In [ ]:
#Creating a new dictionary with only pairs where the value is larger than 2
d = {'a': 1, 'b': 2, 'c': 3, 'd': 4}
new_dict = {k:v for k, v in d.items() if v > 2}
print(new_dict)
print(type(new_dict))

{'c': 3, 'd': 4}
<class 'dict'>

In [ ]:
#We can also perform operations on the key value pairs
d = {'a':1,'b':2,'c':3,'d':4,'e':5}
d = {k + 'c':v * 2 for k, v in d.items() if v > 2}
print(d)
print(type(d))

{'cc': 6, 'dc': 8, 'ec': 10}
<class 'dict'>

In [ ]:
t = [(2,4,8,16),(2,4,8,16)]
print(type(t))
for a,b,c,d in t:
  print(a,b,c,d)

<class 'list'>
2 4 8 16
2 4 8 16

# Strings

## String Creation

In [ ]:
myString = 'Hello'                                             

print(myString)


myString = "Hello"
print(myString)


myString = '''Hello'''
print(myString)

Hello
Hello
Hello

In [ ]:
myString = 'Hello'                                       # strings are immutable but ordered
print(id(myString))
myString = "Hi"
print(id(myString))

140137447544752
140137711536816

In [ ]:
myString = "Hello"


print(myString[0])                            #print first Character
print(myString[-1])                           #print last character using negative indexing
print(myString[2:5])                          #slicing 2nd to 5th character
print(myString[::2])                          # print alternate characters

H
o
llo
Hlo

In [ ]:
print(myString[15])                           # out of range

IndexError: ignored

In [ ]:
myString = 'Hello'           # strings are immutable
print(myString[0])
myString[0] ="P"

H

TypeError: ignored

## String Concatenation

In [ ]:
s1 = "Hello "
s2 = "Satish"

#concatenation of 2 strings
print(s1 + s2)

#repeat string n times
print(s1 * 3)

Hello Satish
Hello Hello Hello

In [ ]:
print ("Hello Satish")
print("*" * 50)

Hello Satish
**************************************************

## String Iteration

In [ ]:
count = 0
for l in "Hello World":
    if l == 'l':
        count += 1
print(count, ' letters found')

3  letters found

## String Membership

In [ ]:
print('l' in 'Hello World') #in operator to test membership
print('or' not in 'Hello World')

True
False

## String Methods

In [ ]:
"Hello".lower()

'hello'

In [ ]:
s="Hello"
s.upper()

'HELLO'

In [ ]:
s="Hello"
s.lower()

'hello'

In [ ]:
s="Today is a lovely day"
s.split()                                   # default is space

['Today', 'is', 'a', 'lovely', 'day']

In [ ]:
s="Today,is,a,lovely,day"
s.split(",")                                   # default is space

['Today', 'is', 'a', 'lovely', 'day']

In [ ]:
' '.join(['This', 'will', 'split', 'all', 'words', 'in', 'a', 'list'])

'This will split all words in a list'

In [ ]:
','.join(['This', 'will', 'split', 'all', 'words', 'in', 'a', 'list'])

'This,will,split,all,words,in,a,list'

In [ ]:
':'.join(['This', 'will', 'split', 'all', 'words', 'in', 'a', 'list'])

'This:will:split:all:words:in:a:list'

In [ ]:
"Good Morning Morning".find("Mo")                      # returns the 1st instance of occurance

5

In [ ]:
s1 = "Bad morning"

s2 = s1.replace("Bad", "Good")

print(s1)
print(s2)

Bad morning
Good morning